.container__navigation {
  position: fixed;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #fff;
  z-index: 9999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__search-bar {
    position: relative;
    max-width: 65rem;
    width: 100%;
    margin-right: 25px;
    @include respond(tab-port) {
      max-width: 50.5rem;
      width: 100%;
    }

    @include respond(phone) {
      max-width: 21.5rem;
      width: 100%;
    }
  }
}

.search-bar {
  border: none;
  border-radius: 5px;
  background-color: #F0F0F0;
  padding: 1rem 2rem;
  width: 100%;
  outline: none;

  &:focus {
    outline: 1.5px solid #333;
  }

  &--icon {
    position: absolute;
    top: 6px;
    right: -25px;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
  }
}

.home-link {
  font-size: 2.4rem;
}
.cart-icon {
  height: 30px;
  width: 30px;
  font-size: 2.4rem;
  margin-right: 1.5rem
}

.cart-link {
  display: flex;
  align-items: center;
}
